<html>
  <head>
    <title>Hello, Rails!</title>
  </head>

  <body>
    <pre>
    <h1>Hello from Rails!</h1>
    <% %w[bob dave george].each do |name| %>
    <%= h("#{name.capitalize}: <#{name}@example.com>") %><br />
    <% end -%>
    The time is <%= @time %>
    </pre>
  </body>
</html>
