<html>
  <head>
    <title>Hello, Rails!</title>
  </head>

  <body>
    <h1>Hello from Rails!</h1>

    <p>
      Say
      <%= link_to "goodbye!", :action => "goodbye" %>
    </p>
    <p>
      Go <%= link_to "loopy!", :action => "loopy" %>
    </p>
  </body>
</html>
