<html>
  <head>
    <title>Loopy Rails!</title>
  </head>

  <body>
    <h1>Loopy Rails!</h1>

    <ul>
      <% @files.each do |thing| %>
      <li>
	<%= thing %>
      </li>
      <% end %>

    </ul>
      
    
  </body>
</html>
